.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(26, 27, 29);
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr 2fr 0.5fr 2fr 1fr;
    height: 80vh;
}

.tab {
    background-image: url("../images/placeholder.png");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    column-gap: 1vw;
    height: 35vh;
}

@media (max-width: 450px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inner-wrapper {
        display: flex;
        flex-direction: column;
        height: 80vh;
        margin: 0 20vw;
    }
    .tab {
        height: 29vh;
    }
}