.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* background-color: rgb(26, 27, 29);
    color: #ccc; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-wrapper {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr 0.5fr 2fr 0.5fr 2fr 1fr;
    height: 80vh;
}

.tab {
    /* background-image: url("../images/placeholder.png"); */
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    column-gap: 1vw;
    height: 35vh;
}

.tab p {
    font-size: 4vw;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

@media (max-width: 450px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inner-wrapper {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        width: 60vw;
    }

    h1 {
        font-size: 4vw;
    }

    h2 { 
        font-size: 3vw;
    }

    .tab {
        height: 29vh;
    }
}