.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(26, 27, 29);
    color: #ccc;
    display: grid;
    font-family: 'Titillium Web', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    overflow: hidden;
}

.navbar {
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
    /* transition: opacity 2s ease-in; */
    transition: fadein 2s ease-in;    
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    animation: fadein 2s;
    -webkit-animation: slidein 2s;
    font-size: 1.3vw;
    background-color: linear-gradient(to bottom, rgba(26, 27, 29, 0.842), rgba(26, 27, 29, 0));
}

.nav-el-sml {
    display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slidein {
    from { transform: translateY(40%); }
    to   { transform: translateY(0%); }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes slidein {
    from { transform: translateY(20%);}
    to   { transform: translateY(0%);}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.nav-el {
    transition: slidein 2s ease-in;
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    animation: fadein 2s;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-el:hover {
    cursor: pointer;
    color: white;
    transition: slideup 1s ease-in;
}

@keyframes slideup {
    from {transform: translateY(0%)}
    to   {transform: translateY(20%)}
}

.main-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    background-color: rgb(26, 27, 29);
    height: 100vh;
}

.title-wrapper {
    transition: moveright 2ms ease-in, fadein 1s ease-in;
    -webkit-animation: moveleft 2s, fadein 1s ease-in;
    animation: moveleft 2s, fadein 1s ease-in;

}

.title {
    font-size: 5vw;
}

.user-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/Shaved-off-sides-with-short-top-part.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    border-radius: 15px;
    transition: moveleft 2s ease-in, fadein 1s ease-in;
    -webkit-animation: moveleft 2s, fadein 1s ease-in;
    animation: moveleft 2s, fadein 1s ease-in;
    width: 30vw;

}

@keyframes moveleft {
    from { transform: translateX(40%); }
    to   { transform: translateX(0%); }
}

@-webkit-keyframes moveleft {
    from { transform: translateX(40%);}
    to   { transform: translateX(0%);}
}

@keyframes moveright {
    from { transform: translateX(-40%); }
    to   { transform: translateX(0%); }
}

@-webkit-keyframes moveright {
    from { transform: translateX(-40%);}
    to   { transform: translateX(0%);}
}

/* phone screen sizes */

@media (max-width: 450px) {
    .header {
        padding-top: 3vh;
        padding-bottom: 3vh;
        overflow: hidden;
    }
    
    .navbar {
        width: 100vw;
        font-weight: 700;
        /* transition: opacity 2s ease-in; */
        transition: fadein 2s ease-in;    
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        animation: fadein 2s;
        -webkit-animation: slidein 2s;
        font-size: 1.3vw;
        background-color: linear-gradient(to bottom, rgba(26, 27, 29, 0.842), rgba(26, 27, 29, 0));
    }

    .nav-el {
        display: none;
    }

    .nav-el-sml {
        display: flex;
        font-size: 5vw;
    }
    
    .title {
        font-size: 5vw;
    }
    
    .user-image {
        background-position: center;
        background-size: cover;
        height: 60vh;
        border-radius: 15px;
        transition: moveleft 2s ease-in, fadein 1s ease-in;
        -webkit-animation: moveleft 2s, fadein 1s ease-in;
        animation: moveleft 2s, fadein 1s ease-in;
        width: 50vw;
    
    }
    
}