.container {
    margin: 0;
    padding: 0;
    height: 101vh;
    /* background-color: rgb(26, 27, 29);
    color: #ccc; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container p {
    font-size: 2vw;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 80vh;
}

.inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spot-link {
    color: #96aa21;
    font-size: 10vw;
    transition: 500ms ease-out;
    box-shadow: inset 0 0 0 0 #75927f;
    
}

.spot-link:hover {
    color: #1DB954;
    transition: 500ms ease-in;
}

.dj-btn {
    padding: 2vh 2vw;
    border-radius: 10px;
    font-weight: 700;
    /* color: #ccc; */
    transition: 500ms ease-in-out;
    box-shadow: inset 0 0 0 0 #b40096;
    border-width: 1px;
    border-style: solid;
    /* margin-bottom: 3vh; */
    font-size: 2vw;
    overflow: visible;
}

.dj-btn:hover {
    box-shadow: inset 350px 0 0 0 #ccc;
    color: #b40096 !important;
    cursor: pointer;
    font-size: 2.5vw;
}

.dj-tab {
    position: absolute;
    height: 70vh;
    width: 80vw;
    border-width: 1px;
    border-style: solid;
    transition: 500ms ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 15px;
}

.vid {
    height: 22vh;
    width: 22vw;
    background-position: center;
    background-size: contain;
}

.vid-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-btn {
    margin-top: 1vh;
    padding: 1vh 2vw;
    border-radius: 10px;
    font-weight: 700;
    /* background: transparent;
    color: #ccc; */
    transition: 500ms ease-in-out;
    box-shadow: inset 0 0 0 0 #FF0000;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 0.8vh;
    font-size: 1vw;
    font-weight: 700;
}

.play-btn:hover {
    cursor: pointer;
    box-shadow: inset 140px 0 0 0 #ccc;
    color: #FF0000 !important;
    cursor: pointer;
    font-size: 1.2vw;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-wrapper input, .form-wrapper textarea {
    border-style: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: #ccc;
    width: 20vw;
}

.form-wrapper input:hover, .form-wrapper textarea:hover {
    border-style: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    transition: 500ms ease-in-out;
    padding: 2vh 1vw;
    border-radius: 10px;
    background-color: transparent;
}

.form-wrapper input:focus, .form-wrapper textarea:focus {
    border-style: none;
}

.close-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 2vw;
    margin-top: 2vh;
    color: #ccc;
}

.close-btn {
    font-size: 1vw;
    background: transparent;
    border-style: none;
    transition: 500ms ease-in-out;
}

.close-btn:hover {
    cursor: pointer;
    font-size: 1.5vw;
    transition: 500ms ease-in-out;
}

.lower-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.submit-btn {
    padding: 1vh 1vw;
    border-radius: 10px;
    font-weight: 700;
    /* background: transparent;
    color: #ccc; */
    transition: 500ms ease-in-out;
    box-shadow: inset 0 0 0 0 #1DB954;
    border-width: 1px;
    border-style: solid;
    margin-top: 1vh;
    font-size: 1vw;
}

.submit-btn:hover {
    box-shadow: inset 250px 0 0 0 #ccc;
    color: #1DB954 !important;
    cursor: pointer;
    font-size: 1.4vw;
}

/* phone screen sizes media queries */

@media (max-width: 450px) {
    h1 {
        font-size: 10vw;
    }

    .dj-tab {
        justify-content: center;
    }

    .inner-wrapper p {
        font-size: 3vw;
    }

    .inner-wrapper a {
        font-size: 30vw;
    }

    .dj-btn {
        font-size: 6vw;
    }

    .submit-btn {
        font-size: 2vw;
    }

    .lower-wrapper {
        display: flex;
        flex-direction: column;
    }

    .form-wrapper textarea, .form-wrapper input {
        width: 40vw;
    }

    .spot-link {
        color: #1DB954;
    }

    .vid {
        width: 40vw;
    }

    .play-btn {
        display: none;
    }
    .close-btn {
        font-size: 2vw;
    }
}