.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* background-color: rgb(26, 27, 29);
    color: #ccc; */
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h2 {
    font-size: 5vw;
    display: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr 2fr 1fr;
}

.text {
    font-size: 1vw;
}

.image {
    background-image: url("../images/Ben-image.jpg");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    transition: moveleft 2s ease-in, fadein 2s ease-in;
    -webkit-animation: moveleft 2s ease-in, fadein 2s ease-in;
    animation: moveleft 2s ease-in, fadein 2s ease-in;
    width: 30vw;
}

/* phone screen size */

@media (max-width: 600px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text {
        font-size: 3vw;
        text-align: center;
        margin: 0 10vw;
        margin-bottom: 1vh;
    }

    .image {
        background-position: center, center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        transition: moveleft 2s ease-in, fadein 2s ease-in;
        -webkit-animation: moveleft 2s ease-in, fadein 2s ease-in;
        animation: moveleft 2s ease-in, fadein 2s ease-in;
        width: 80vw;
        height: 50vh;
    }
}

@media (max-width: 450px) {

    .container h2 {
        display:contents;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text {
        font-size: 2vw;
        text-align: center;
    }

    .image {
        background-position: center, center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        transition: moveleft 2s ease-in, fadein 2s ease-in;
        -webkit-animation: moveleft 2s ease-in, fadein 2s ease-in;
        animation: moveleft 2s ease-in, fadein 2s ease-in;
        width: 80vw;
        height: 50vh;
    }
}